html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Controlar el tamaño de la letra en las celdas de la tabla */
.table th, .table td {
    font-size: 1.2rem !important; /* Fuerza el tamaño de la fuente */
}

/* Ajustar el padding para reducir el espacio entre las filas */
.table-row-custom td {
    padding: 0.3rem !important; /* Fuerza el padding *
}


